.abbreviation {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 0.7rem;
    letter-spacing: 5px;
    color: var(--gold);
    margin-top: -5px;
}

.nav-logo-container:hover .logo-text {
    color: var(--maroon);
    transition: 0.3s;
}
